.tabelaPrazos{
    width: 50%;
    height: 500px;
}

.divPrazos{
    float: right;
    width: 48% !important;
    margin-top: 100px;
}

.table{
    width: 92%;
    border-spacing: 0;
    border-top: solid 1px;
}