.janelaOpcoes{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    width: 92%;
    float: left;
}

.janelaOpcoes select{
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 200px;
}

.janelaOpcoes a{
    float: right;
}

.janelaOpcoes div{
    margin-bottom: 5px;
}

#divFiltrarProcessos{
    position: absolute;
    top: 20%;
    left: 19%;
    margin: 0;
}

#divFiltrarProcessos a{
    line-height: 2.2em;
}